body, html{
    padding: 0;
    margin: 0;
}

#root {    
    width: 100vw;
    min-width: 1000px;
    overflow: hidden;
}

#create, #connection, #edit, #home{
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    letter-spacing: .2px;
}

.button.create-connection{
    float: left;
    margin-left: 0px;
    margin-top: 20px;
}

h2{
    font-size: 26px;
}

h1{
    font-size: 32px;
}

.home-content{
    padding: 0px 20px;
}

.result-set header{
    background: #2c3e50;    
}

.result-set header .show-as-json{
    float: right;
}